<li>
	{{name}}

	<button class="change-rare" data-id="{{id}}" data-newrare="{{rare}}">
		{{#if rare}}Cooked!{{else}}Overdone!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
